<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Inicio de sesión</title>

<style>
	h1{
		text-align: center;

	}
	div{
		
		text-align: center;
		border: solid black 1px;
		padding: 5%;
		margin: 10%
		
	}
	
	body{
	
		background-color: gray;
	}
</style>

</head>
<body>
	

	<h1>inicio de sesión</h1>
	
	<div>
		
		<form action="#" th:action="@{/loginz}" th:object="${usuario}" method="post">
			

			<input type="text"  placeholder="Usuario" th:field="*{nombre}">
			<input type="password"  placeholder="Contraseña" th:field="*{pass}">


			<input type="submit" value="Aceptar">
		</form>
	
	</div>
</body>
</html>